{% extends 'base.html' %}

{% block title %}Customers{% endblock %}


{% block content %}
{% include 'orders/index.html' %}

<div class="page-header">

    <h1>Customers Details</h1>

</div>
<hr>

<a href="/customers/create/" class="btn btn-success float-right" >+</a>
<div class="container">
    <div class="col-md-9">
    
<table class="table table-hover table-striped">
    <thead class="thead-light" >
        <tr>
        <!-- <th>Id</th> -->
        <th>Name</th>
        
        <th>Email</th>
        <th>Conact No</th>
        <th>Created</th>
      
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
        {% for customer in customers%}


        <tr>

       
        <td>{{customer.first_name}} {{customer.last_name}}</td>
        <td>{{customer.email}}</th>
        <td>{{customer.contact}}</td>
        <td>{{customer.created_at}}</td>
        <!-- <td>{{customer.status}}</td> -->
        <td><a href="/customers/edit/{{customer.id}}" class="btn btn-success">Edit</a>
             <a href="/customers/delete/{{customer.id}}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
        
        {% endfor %}
    </tbody>
</table>
</div>
</div>


{% endblock%}